BasedOnStyle: Google
Language: Cpp

ColumnLimit: 100

IndentWidth: 4
TabWidth: 4
UseTab: Never

AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All

BreakBeforeBraces: Attach

SortIncludes: true

SpacesInContainerLiterals: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements

Standard: c++17
